<ion-item [routerLink]="['/','places','tabs','offers',offer.id]" detail>
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>                    
  </ion-thumbnail>
  <ion-label>
    <span class="offer__title">{{offer.title}}</span>
    <div class="offer-details">
      <ion-icon name="calendar" color="tertiary" class="small__text"></ion-icon>
      <ion-text class="space-left small__text" color="primary">{{getDummyDate() | date}}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" color="tertiary" class="space-left small__text"></ion-icon>
      <ion-text color="primary" class="space-left small__text">{{getDummyDate() | date}}</ion-text>
    </div>
  </ion-label>

</ion-item>